@using Nhs.Theograph.Core.Interfaces;
@using Nhs.Theograph.Core;
@model PatientEpisodes
@{
  ViewBag.Title = "Patient Details: " + Model.Patient.PatientDetails.GetFullName() + " (" + Model.Patient.NhsNumber.Value + ")";
}
@*<h3 class="span12 pagination-centered">Theograph for @Model.Patient.PatientDetails.GetFullName()</h3>*@
<div class="theograph-graph clearfix">
  <div id="theographChart" style="height: 250px;">
  </div>
</div>
<table id="theographTable" class="highchart table table-hover table-condensed hidden-js-on"
  data-graph-container="#theographChart" data-graph-type="line">
  <thead>
    <tr>
      <th>Episode Type </th>
      <th>Start Date </th>
      <th>Start Time </th>
      <th>End Date </th>
      <th>End Time </th>
    </tr>
  </thead>
  <tbody>
    @{ foreach (var episode in Model.Episodes)
       {
      <tr>
        <td>
          @episode.EpisodeType.DisplayName
        </td>
        <td>
          @episode.StartTime.ToString("dd MMM yyyy")
        </td>
        <td>
          @episode.StartTime.ToString("HH:mm:ss")
        </td>
        <td>
          @Html.Raw(episode.EndTime.HasValue ? episode.EndTime.Value.ToString("dd MMM yyyy") : "-")
        </td>
        <td>
          @Html.Raw(episode.EndTime.HasValue ? episode.EndTime.Value.ToString("HH:mm:ss") : "-")
        </td>
      </tr>
       }
    }
  </tbody>
</table>
<div class="theograph-graph clearfix">
  <div id="theographSubChart" style="margin: 0 auto; border: 1px solid #ddffff; width: 50%; height: 180px;">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    "use strict";

    Theograph.Interface.loadChart();
  });
</script>
